html, body, #__next {
  height: 100%;
}

body {
  font-family: Inter, system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

input, button {
  padding: 8px;
  margin: 4px 0;
}

button {
  cursor: pointer;
}
